<section class="container">
{{> blog-details}}
</section>
<section class="container">
{{#each comments as |comment|}}
{{> comment-details}}
{{/each}}
</section>
<section class="container">
{{> post-comment}}
</section>

