<section class="container">
    {{#each blogs as |blog|}}
    {{> blog-details}}
    {{/each}}
</section>

<section>
    <div>
        <h2>Post a blog</h2>
        <form id="blog-form" class="form">
            <div class="form-group">
                <label for="blog-name">Name of blog:</label>
                <input class="form-input" type="text" id="blog-name" />
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input class="form-input" type="text" id="description">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
    </div>
</section>
<script src="/js/blog-post.js"></script>